SENSECV_DATA_DIR=data
SENSECV_CLIPS_DIR=data/clips
SENSECV_DATASETS_DIR=data/datasets
SENSECV_EXPORTS_DIR=data/exports
SENSECV_HISTORY_FILE=data/history.json
SENSECV_UPLOADS_DIR=data/uploaded_datasets
SENSECV_DERIVED_DIR=data/derived
SENSECV_EXTRA_CLIP_ROOTS=
SENSECV_SSIM_THRESHOLD=0.975
SENSECV_SSIM_MAX_GAP_SEC=0.5
SENSECV_02062026_GIMBAL_ROOT=data/datasets/SenseCV-02-06-2026-IFCE-Gimbal/SenseCV-02-06-2026-IFCE-Gimbal
SENSECV_SAMSUNG_ROOT=data/datasets/SenseCV-30-05-2026-IFCE-Gimbal-Samsung/SenseCV-30-05-2026-IFCE-Gimbal-Samsung
SENSECV_SAMSUNG_METADATA_CSV=data/datasets/samsung_metadata.csv
DRONET_DIR=third_party/dronet
DRONET_WEIGHTS=third_party/dronet/repo/model/model_weights.h5
PORT=5000
